/*<section>_mainWrap*/
section{
	width: 900px;
	margin: 0px auto;
	background: inherit;
}
#mainWrap{
	background-color: inherit;
	border: 1px solid #fafafa;
	border-radius: 10px;
	width: 600px;
	min-height: 80vh;
	display: inline-block;
	margin-bottom: 10px;
}
#mainWrap h2{
	margin-top: 5px;
	padding-left: 10px;
	font-size: 1.7em;
}
#mainWrap #adminpage{
	border: 1px solid;
	min-height: 200px;
	background: #e4f3e4;
	padding: 20px;
	border-radius: 5px;
}
#adminpage h3 > button{
	margin-left: 50px;
	background: linear-gradient(180deg, #79cf9f, #009688);
	border: 1px solid;
	border-radius: 3px;
	cursor: pointer;
	height: 25px;
}
#adminpage h3 > button:active{
	background: linear-gradient(0deg, #79cf9f, #009688);
}
#adminpage #commuinfo{
	background: white;
	width: 50%;
	border: 1px solid #8BC34A;
	border-radius: 3px;
}
#commuinfo > li{
	margin-bottom : 10px;
	font-size: 17px;
	font-weight: bold;
}
#commuinfo > li > span{
	color: red;
}
#commubutton button{
	margin-left: 10px;
	margin-right: 10px;
	background: linear-gradient(180deg, #79cf9f, #009688);
	border: 1px solid;
	border-radius: 3px;
	cursor: pointer;
	height: 30px;
}
#commubutton button:active{
	background: linear-gradient(0deg, #79cf9f, #009688);
}

#adminadad a{
	text-decoration: none;
	color: black;
}
#adminadad a h3{
	display: inline;
	animation-name: adminAni;
	animation-duration: 0.33s;
	border-radius: 5px;
	animation-iteration-count: infinite;
}
@keyframes adminAni{
	0%{background-image: linear-gradient(0deg, #58cb58, #c56363);}
	5%{background-image: linear-gradient(18deg, #58cb58, #c56363);}
	10%{background-image: linear-gradient(36deg, #58cb58, #c56363);}
	15%{background-image: linear-gradient(54deg, #58cb58, #c56363);}
	20%{background-image: linear-gradient(72deg, #58cb58, #c56363);}
	25%{background-image: linear-gradient(90deg, #58cb58, #c56363);}
	30%{background-image: linear-gradient(108deg, #58cb58, #c56363);}
	35%{background-image: linear-gradient(126deg, #58cb58, #c56363);}
	40%{background-image: linear-gradient(144deg, #58cb58, #c56363);}
	45%{background-image: linear-gradient(162deg, #58cb58, #c56363);}
	50%{background-image: linear-gradient(180deg, #58cb58, #c56363);}
	55%{background-image: linear-gradient(198deg, #58cb58, #c56363);}
	60%{background-image: linear-gradient(216deg, #58cb58, #c56363);}
	65%{background-image: linear-gradient(234deg, #58cb58, #c56363);}
	70%{background-image: linear-gradient(252deg, #58cb58, #c56363);}
	75%{background-image: linear-gradient(270deg, #58cb58, #c56363);}
	80%{background-image: linear-gradient(288deg, #58cb58, #c56363);}
	85%{background-image: linear-gradient(306deg, #58cb58, #c56363);}
	90%{background-image: linear-gradient(324deg, #58cb58, #c56363);}
	95%{background-image: linear-gradient(342deg, #58cb58, #c56363);}
	100%{background-image: linear-gradient(360deg, #58cb58, #c56363);}
}
#adminadad a:hover{
	text-decoration: underline;
}

/* 커뮤니티 리스트 */
#mainWrap #adminpage2{
	border: 1px solid;
	width:160px;
	margin: 3px auto;
	min-height: 200px;
	background: #e4f3e4;
	padding: 20px;
	border-radius: 5px;
}
#commutable{
	border: 1px solid;
	width: 160px;
	background: white;
	text-align: center;
}
#commutable table thead tr .col1{
	width: 60%;
}
#commutable table td{
	padding-top: 5px;
	font-weight: bold;
}
#commutable table a{
	text-decoration: none;
	color: #187e75;
}
#commutable table a:hover{
	text-decoration: underline;
	color: #CDDC39;
}