/*<section>_mainWrap*/
section{
	width: 900px;
	margin: 0px auto;
	background: inherit;
}
#mainWrap{
	background-color: inherit;
	border: 1px solid whitesmoke;
	border-radius: 10px;
	width: 600px;
	min-height: 550px;
	display: inline-block;
}
#mainWrap a{
	text-decoration: none;
	color: black;
}
#mainWrap a:hover{
	text-decoration: underline;
}
#mainWrap h2{
	margin-top: 5px;
	padding-left: 10px;
	font-size: 1.7em;
}
#mainWrap h2 ~ span{
	padding-left: 10px;
	font-weight: bold;
}
#mainWrap #notice{
	color: green;
}
#mainWrap #submenu{
	display: inline;
	float: right;
}
#submenu button{
	margin-left: 10px;
	width: 55px;
	height: 28px;
	border: 0px;
	border-radius: 3px;
	background-color: gray;
	color: white;
	cursor: pointer;
}
#submenu button:nth-of-type(4){
	background-color: #1a1818;
}

/*글 상세조회*/
#gulTitle{
	background-color: lightgray;
	margin-top: 20px;
	border: 1px solid lightgray;
	border-radius: 3px;
	min-height: 65px;
	padding: 0px 10px;
}
#gulTitle div{
	display: inline-block;
}
#gulTitle div:nth-of-type(2n){
	float: right;
}
#gulTitle div:nth-of-type(1){
	padding-top: 8px;
	font-weight: 900;
	font-size: 20px;
}
#gulTitle div:nth-of-type(2){
	padding-top: 8px;
	font-size: small;
}
#gulTitle div:nth-of-type(3){
	font-size: small;
}
#gulTitle div:nth-of-type(4){
	padding-top: 3px;
	font-size: small;
}
#gul{
	border: 1px solid dimgray;
	border-radius: 3px;
	background-color: white;
	margin: 20px 0px;
	padding: 10px;
	min-height: 279px;
}
#gul div:nth-of-type(3){
	display: flex;
}
#gul #commuhead{
	font-size: 18px;
	font-weight: bold;
}
#gul #commuhead + div{
	margin-left: 10px;
}
#gul #commuhead + div span{
	background-color: gray;
	border-radius: 3px;
}

/* 추천 */
#thumb{
	width: 110px;
	height: 75px;
	background-color: #e0e0e0;
	margin: 10px auto;
	text-align: center;
}
/* 댓글 */
.reply{
	margin-bottom: 15px;
	border: 1px solid lightgray;
	border-radius: 3px;
	background-color: lightgray;
	min-height: 50px;
}
.reply .replyEdit{
	text-align: right;
	height: 21px;
}
.reply img{
	width: 12px;
	height: 12px;
	margin: 3px 5px 5px 0px;
	cursor: pointer;
}
.reply .replyContent{
	display: flex;
    align-items: center;
}
.reply .replyContent div{
	display: inline-block;
}
.replyContent div:nth-of-type(1){
	width: 65px;
	height: 27px;
    font-size: 13px;
    margin-left: 10px;
    padding: 2px 7px 4px 7px;
    margin-right: 20px;
	display: flex;
	align-items: center;
}
#commujang{
	background: #cbe792;
	border-radius: 3px;
	font-weight:bold;
}
#admintd{
	color: #000000;
	font-weight: bold;
    border-radius: 5px;
	animation-name: adminAni;
	animation-duration: 0.33s;
	animation-iteration-count: infinite;
}
@keyframes adminAni{
	0%{background-image: linear-gradient(0deg, #58cb58, #c56363);}
	5%{background-image: linear-gradient(18deg, #58cb58, #c56363);}
	10%{background-image: linear-gradient(36deg, #58cb58, #c56363);}
	15%{background-image: linear-gradient(54deg, #58cb58, #c56363);}
	20%{background-image: linear-gradient(72deg, #58cb58, #c56363);}
	25%{background-image: linear-gradient(90deg, #58cb58, #c56363);}
	30%{background-image: linear-gradient(108deg, #58cb58, #c56363);}
	35%{background-image: linear-gradient(126deg, #58cb58, #c56363);}
	40%{background-image: linear-gradient(144deg, #58cb58, #c56363);}
	45%{background-image: linear-gradient(162deg, #58cb58, #c56363);}
	50%{background-image: linear-gradient(180deg, #58cb58, #c56363);}
	55%{background-image: linear-gradient(198deg, #58cb58, #c56363);}
	60%{background-image: linear-gradient(216deg, #58cb58, #c56363);}
	65%{background-image: linear-gradient(234deg, #58cb58, #c56363);}
	70%{background-image: linear-gradient(252deg, #58cb58, #c56363);}
	75%{background-image: linear-gradient(270deg, #58cb58, #c56363);}
	80%{background-image: linear-gradient(288deg, #58cb58, #c56363);}
	85%{background-image: linear-gradient(306deg, #58cb58, #c56363);}
	90%{background-image: linear-gradient(324deg, #58cb58, #c56363);}
	95%{background-image: linear-gradient(342deg, #58cb58, #c56363);}
	100%{background-image: linear-gradient(360deg, #58cb58, #c56363);}
}
.replyContent div:nth-of-type(2){
	width: 450px;
	font-size: 14px;
}
.replyContent div:nth-of-type(2) textarea{
	width: 440px;
	height: 35px;
	resize: none;
}
.replyContent img{
	width: 28px;
	height: 27px;
	margin: 0px;
	cursor: default;
	position: relative;
	top: 1px;
}
.reply .replyDate{
	margin: 0px 5px 0px 0px;
	text-align: right;
	font-size: small;
}
#replyWrite{
	margin-top: 30px;
	margin-bottom: 25px;
	border: 1px solid lightgray;
	border-radius: 3px;
	background-color: lightgray;
	min-height: 125px;
}
#replyWrite textarea{
	width: 99%;
	min-height: 84px;
	resize: none;
}
#replyWrite button{
	float: right;
	margin-right: 5px;
	background-color: gray;
	color: white;
	border: 1px solid gray;
	border-radius: 2px;
	cursor: pointer;
	width: 50px;
	height: 25px;
}