/*<section>_mainWrap*/
section{
	width: 900px;
	margin: 0px auto;
	background: #FAFAFA;
}
#mainWrap{
	background-color: #FAFAFA;
	border: 1px solid #FAFAFA;
	border-radius: 10px;
	width: 600px;
	min-height: 550px;
	display: inline-block;
}
#mainWrap a:not(.admintr .col3 a, .commujangtr .col3 a){
	text-decoration: none;
	color: black;
}
#mainWrap a:not(.admintr .col3 a, .commujangtr .col3 a):hover{
	text-decoration: underline;
}
#mainWrap h2{
	display: inline-block;
	margin-top: 5px;
	padding-left: 10px;
	font-size: 1.7em;
}
#mainWrap h2 + span{
	float: right;
	position: relative;
	top: 15px;
	font-weight: bold;
}
#malhead{
	display: inline-block;
	margin-left: 10px;
}
#malhead span{
	color: #0c7200;
	font-size: small;
	font-weight: bold;
}
#malhead a{
	font-size: small;
}
#search{
	float: right;
	position: relative;
	right: 6px;
}
#search select{
	font-size: 14px;
	height: 30px;
}
#search input[type='text']{
	font-size: 12px;
	height: 24px;
	width: 130px;
}
#search input[type='submit']{
	height: 30px;
	border: 0px;
	border-radius: 3px;
	background-color: gray;
	color: white;
	cursor: pointer;
	position: relative;
	top: 2px;
}

/*게시판*/
.board{
	margin: 27px 0px;
}
#jauboard{
	border-collapse: collapse;
	margin: 10px auto;
	width: 98%;
}
#jauboard thead tr{
	background-color: lightgray;
}
#jauboard thead tr th{
	padding: 5px 0px;
	font-size: 15px;
}
#jauboard tbody tr{
	border-bottom: 1px solid lightgray;
}
#jauboard .col1{
	width: 6%;
	text-align: center;
	padding: 8px 0px;
	font-size: small;
	font-weight: bold;
}
#jauboard .col2{
	width: 12%;
	text-align: center;
	font-size: 15px;
}
#jauboard .col3{
	width: 40%;
	text-align: left;
	padding-left: 10px;
	font-size: 14px;
}
#jauboard .col4{
	width: 13%;
	text-align: center;
	font-size: 11px;
}
#jauboard #admintd{
    border-radius: 5px;
	animation-name: adminAni;
	animation-duration: 0.33s;
	animation-iteration-count: infinite;
}
@keyframes adminAni{
	0%{background-image: linear-gradient(0deg, #58cb58, #c56363);}
	5%{background-image: linear-gradient(18deg, #58cb58, #c56363);}
	10%{background-image: linear-gradient(36deg, #58cb58, #c56363);}
	15%{background-image: linear-gradient(54deg, #58cb58, #c56363);}
	20%{background-image: linear-gradient(72deg, #58cb58, #c56363);}
	25%{background-image: linear-gradient(90deg, #58cb58, #c56363);}
	30%{background-image: linear-gradient(108deg, #58cb58, #c56363);}
	35%{background-image: linear-gradient(126deg, #58cb58, #c56363);}
	40%{background-image: linear-gradient(144deg, #58cb58, #c56363);}
	45%{background-image: linear-gradient(162deg, #58cb58, #c56363);}
	50%{background-image: linear-gradient(180deg, #58cb58, #c56363);}
	55%{background-image: linear-gradient(198deg, #58cb58, #c56363);}
	60%{background-image: linear-gradient(216deg, #58cb58, #c56363);}
	65%{background-image: linear-gradient(234deg, #58cb58, #c56363);}
	70%{background-image: linear-gradient(252deg, #58cb58, #c56363);}
	75%{background-image: linear-gradient(270deg, #58cb58, #c56363);}
	80%{background-image: linear-gradient(288deg, #58cb58, #c56363);}
	85%{background-image: linear-gradient(306deg, #58cb58, #c56363);}
	90%{background-image: linear-gradient(324deg, #58cb58, #c56363);}
	95%{background-image: linear-gradient(342deg, #58cb58, #c56363);}
	100%{background-image: linear-gradient(360deg, #58cb58, #c56363);}
}
#jauboard .commujangspan{
	background: #cbe792;
	border-radius: 3px;
}
#jauboard .col4 span{
	font-weight: bold;
}
#jauboard .col5{
	width: 16%;
	text-align: center;
	font-size: 10px;
}
#jauboard .col6{
	width: 8%;
	text-align: center;
	font-size: 10px;
}
#jauboard .col7{
	width: 5%;
	text-align: center;
	font-size: 11px;
}
#jauboard .col4 .admincol4{
	 position: relative;
	 bottom: 8px;
	 font-size: 12px;
}
.admintr .col1, .admintr .col2, .admintr .col3 a{
	text-decoration: none;
	font-weight: bold;
	color: red;
}
.admintr .col3 a:hover{
	text-decoration: underline;
}
.commujangtr .col1, .commujangtr .col2, .commujangtr .col3 a{
	text-decoration: none;
	font-weight: bold;
	color: green;
}
.commujangtr .col3 a:hover{
	text-decoration: underline;
}
/*게시반 밑 부분*/
#tableBottom{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
	width: 100%;
	background-color: #FAFAFA;
}
#tableBottom #button{
	width: 50px;
}
#tableBottom button{
	background: dimgray;
	border: 0px;
	border-radius: 3px;
	height: 25px;
	width: 50px;
	cursor: pointer;
	color: white;
}
#tableBottom #commu{
	width: 75px;
    color: white;
}
#tableBottom #commu button{
	width: 100%;
    font-size: 10px;
}
#tableBottom > #paging{
	display: inline-block;
	width: 475px;
}
#tableBottom > #paging div{
	width: 25px;
	line-height: 25px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	margin: 5px 8px;
	background-color: #e6f7f7;
	cursor: pointer;
}
#tableBottom > #paging div:not(#nowPage):hover{
	background-color: skyblue;
}