/*<section>_asideWrap*/
#asideWrap{
	width: 280px;
	height: 510px;
	border: 1px solid #FAFAFA;
	display: inline-block;
	float: right;
}
#memberdiv{
	background-color: #79cf9f;
	width: 270px;
	height: 140px;
	margin: 4px;
	border: 1px solid;
	border-radius: 5px;
}
#memberlogin{
	height: 90px;
	padding-left: 16px;
	position: relative;
	padding-top: 5px;
}
#id, #pw{
	width: 156px;
    height: 27px;
    margin: 7px 0px 7px 0px;
    border: 1px solid;
	border-radius: 2px;
}
#id:focus, #pw:focus{
	background-color: lightcyan;
	font-weight: bold;
}
#login{
	background: linear-gradient(180deg, #f9f9f9, #a4adac);
	border: 1px solid black;
	border-radius: 3px;
	display: inline-block;
    height: 76px;
    width: 75px;
    position: absolute;
    bottom: 7px;
    right: 10px;
    cursor: pointer;
    transition : all 0.3s;
}
#login:active{
	background: linear-gradient(0deg, #f9f9f9, #a4adac);
}
#memberdiv > a{
	margin-left: 13px;
	position: relative;
	top: 10px;
	left: 10px;
	text-decoration: none;
	font-weight: 600;
	font-size: 13px;
	color: blue;
}
#memberdiv > a:hover{
	text-decoration: underline;
}
#memberNickname{
	margin: 0px 0px 5px 10px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 30px;
}
#memberPosition{
	margin: 5px 0px 10px 10px;
	font-size: 20px;
	min-height: 25px;
}
#memberPosition a{
	text-decoration: none;
	color: #0e0d0d;
	font-size: 17px;
}
#memberPosition a:hover{
	text-decoration: underline;
}
#memberdiv > .button{
	background: linear-gradient(180deg, #f9f9f9, #a4adac);
	border: 1px solid;
	border-radius: 3px;
	height: 40px;
	width: 100px;
	margin: 0px 10px 0px 12px;
	cursor: pointer;
}
#memberdiv > .button:active{
	background: linear-gradient(0deg, #f9f9f9, #a4adac);
}
#masterlogout{
	background: linear-gradient(180deg, #f9f9f9, #a4adac);
	border: 1px solid;
	border-radius: 3px;
	margin: 3px 7%;
    width: 86%;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition : all 0.3s;
}
#masterlogout:active{
	background: linear-gradient(0deg, #f9f9f9, #a4adac);
}
#ad{
	border: 1px solid;
	height: 340px;
	width: 268px;
	margin: 0px 4px;
}
#ad img{
	width: 100%;
	height: 100%;
}
.admin{
	width: 115px;
	padding: 3px 5px;
	border-radius: 13px;
	animation-name: adminAni;
	animation-duration: 0.33s;
	animation-iteration-count: infinite;
}
@keyframes adminAni{
	0%{background-image: linear-gradient(0deg, #58cb58, #c56363);}
	5%{background-image: linear-gradient(18deg, #58cb58, #c56363);}
	10%{background-image: linear-gradient(36deg, #58cb58, #c56363);}
	15%{background-image: linear-gradient(54deg, #58cb58, #c56363);}
	20%{background-image: linear-gradient(72deg, #58cb58, #c56363);}
	25%{background-image: linear-gradient(90deg, #58cb58, #c56363);}
	30%{background-image: linear-gradient(108deg, #58cb58, #c56363);}
	35%{background-image: linear-gradient(126deg, #58cb58, #c56363);}
	40%{background-image: linear-gradient(144deg, #58cb58, #c56363);}
	45%{background-image: linear-gradient(162deg, #58cb58, #c56363);}
	50%{background-image: linear-gradient(180deg, #58cb58, #c56363);}
	55%{background-image: linear-gradient(198deg, #58cb58, #c56363);}
	60%{background-image: linear-gradient(216deg, #58cb58, #c56363);}
	65%{background-image: linear-gradient(234deg, #58cb58, #c56363);}
	70%{background-image: linear-gradient(252deg, #58cb58, #c56363);}
	75%{background-image: linear-gradient(270deg, #58cb58, #c56363);}
	80%{background-image: linear-gradient(288deg, #58cb58, #c56363);}
	85%{background-image: linear-gradient(306deg, #58cb58, #c56363);}
	90%{background-image: linear-gradient(324deg, #58cb58, #c56363);}
	95%{background-image: linear-gradient(342deg, #58cb58, #c56363);}
	100%{background-image: linear-gradient(360deg, #58cb58, #c56363);}
}
#commujang{
	background: #caff60;
    border-radius: 25px;
}